#header{
    width:100%;
    background-color:white;
    color:#A1A1A1;
    margin-bottom:-20px;
    border-bottom: 1px solid #f4f4f4;
    height: 45px;
}

#header ul li{
    list-style-type: none;
    font-family: Arial;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
}

#logo{
    float: left;
}

#logo img{
    width: 35px;
    float: left;
}

#search{
    width:50%;
    float:left;
    margin-left: 200px;
    margin-top: 10px;
}

#search-box{
    width: 130%;
    height:20px;
    border-radius: 8px;
    padding: 10px;
    background-color:#E9E9E9;
    margin:-190px;
    border:0px
}

#nav-bottons{
    float: right;
    margin-top: 2px;
    margin-right: 20px;
}

#nav-bottons a{
    color: #5f5f5f;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
}

#nav-bottons a:hover{
    color: #5f5f5f;
    border-radius: 25px;
    background-color: #BABABA;
    padding: 10px
}

#wrapper{
    width: 80%;
    max-width: 1100px;
    min-width: 800px;
    margin: 30px auto;
}

#column{
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -column-count: 4;
    -column-gap: 10px;
    -column-fill: auto;
}

.pin{
    display:inline-block;
    background-color:#fefefe;
    border: 2px solid #fafafa;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0px 2px 15px 0px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px 15px 5px 15px;
    background: -webkit-linear-gradient(45deg, #fff, #f9f9f9)
    opacity: 1;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.pin img{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p{
    font:12px/18px Arial,sans-serif;
    color: #333;
    margin:0;
}

pin:hover{
    border-radius: 20px;
    cursor: pointer;
}